In [342]:
#To begin such optimization, we must first import numpy, scipy, pandas, and time as well
import numpy as np
import scipy.optimize as op
import time
import pandas as pd
import math

In [343]:
data = pd.read_stata('PS3_data.dta')

In [344]:
data.head(n=3)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,redpregovinc,hsex,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce
0,1,1967,1,Head,1200.0,2000.0,NaN,NaN,0,NaN,...,5614.0,1.0,2.0,52.0,46.0,1.0,2.0,8.0,8.0,0.0
1,2,1967,2,Head,0.0,0.0,NaN,NaN,0,NaN,...,0.0,1.0,2.0,56.0,57.0,1.0,2.0,3.0,3.0,0.0
2,3,1967,3,Head,0.0,0.0,NaN,NaN,0,NaN,...,0.0,1.0,2.0,77.0,64.0,1.0,2.0,NaN,3.0,0.0

In [345]:
covar = ['Educ', 'Hispanic', 'Black', 'Other Races', 'age', 'ones']

In [346]:
#We now must generate an hourly wage variable, but to prevent a positive infinity in this variable we first drop
#missing values
data = data[data.hannhrs.isnull() != True ]
data = data[data.age.isnull() != True ]
data = data[data.hyrsed.isnull() != True ]
data = data[data.hlabinc.isnull() != True ]
data['wage'] = data.hlabinc/data.hannhrs
data['ones'] = 1

In [347]:
data.head(n=3)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,hsex,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce,ones
11161,402,1971,1,Head,1523.0,0.0,62928.707031,NaN,0,1.0,...,1.0,2.0,51.0,41.318916,1.0,2.0,12.0,12.0,0.247121,1
11162,446,1971,2,Head,520.0,0.0,1618.640747,NaN,0,NaN,...,2.0,NaN,62.0,3.112771,1.0,NaN,17.0,NaN,0.247121,1
11164,461,1971,4,Head,2010.0,0.0,22660.970703,NaN,0,1.0,...,1.0,2.0,55.0,11.274115,1.0,2.0,5.0,5.0,0.247121,1

In [348]:
data.head(n=3)
data.hrace

11161     1.0
11162     1.0
11164     1.0
11165     1.0
11166     1.0
11167     1.0
11170     1.0
11171     1.0
11172     1.0
11173     1.0
11174     1.0
11175     1.0
11177     1.0
11178     1.0
11180     1.0
11186     1.0
11188     1.0
11190     1.0
11191     1.0
11192     1.0
11196     2.0
11198     1.0
11199     1.0
11201     1.0
11202     1.0
11204     2.0
11205     1.0
11206     1.0
11207     1.0
11208     1.0
         ...
123753    1.0
123754    2.0
123755    1.0
123756    1.0
123757    2.0
123758    2.0
123759    1.0
123760    1.0
123761    1.0
123763    2.0
123764    1.0
123765    2.0
123766    2.0
123767    1.0
123768    1.0
123769    1.0
123770    1.0
123771    1.0
123772    2.0
123774    1.0
123775    1.0
123776    1.0
123777    1.0
123778    1.0
123779    1.0
123780    1.0
123781    1.0
123783    1.0
123784    1.0
123785    1.0
Name: hrace, Length: 89727, dtype: float64

In [349]:
#Having taken the above steps we have clean the data and now begin to make ready our dummy variables.
data['Hispanic'] = (data.hrace == 4)
data['Hispanic'] = data['Hispanic'].replace(False, 0)  
data['Other Races'] = ((data.hrace ==3) & (data.hrace ==5) & (data.hrace==6) & (data.hrace==7))
data['Other Races'].replace(False, 0)
data = pd.get_dummies(data, columns=['hrace'])

In [350]:
data.head(n=3)
data['Hispanic'].replace(False, 0)

11161     False
11162     False
11164     False
11165     False
11166     False
11167     False
11170     False
11171     False
11172     False
11173     False
11174     False
11175     False
11177     False
11178     False
11180     False
11186     False
11188     False
11190     False
11191     False
11192     False
11196     False
11198     False
11199     False
11201     False
11202     False
11204     False
11205     False
11206     False
11207     False
11208     False
          ...
123753    False
123754    False
123755    False
123756    False
123757    False
123758    False
123759    False
123760    False
123761    False
123763    False
123764    False
123765    False
123766    False
123767    False
123768    False
123769    False
123770    False
123771    False
123772    False
123774    False
123775    False
123776    False
123777    False
123778    False
123779    False
123780    False
123781    False
123783    False
123784    False
123785    False
Name: Hispanic, Length: 89727, dtype: bool

In [351]:
data = data[data.wage >7]
len(data)

79458

In [352]:
data = data[data.hsex ==1]
len(data)

66911

In [353]:
data = data[(data.age >=25) & (data.age<=60)]
len(data)

57131

In [354]:
data.head(n=3)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,wpersno,hyrsed,wyrsed,pce,ones,Hispanic,Other Races,hrace_1.0,hrace_2.0,hrace_3.0
11161,402,1971,1,Head,1523.0,0.0,62928.707031,NaN,0,1.0,...,2.0,12.0,12.0,0.247121,1,False,False,1,0,0
11164,461,1971,4,Head,2010.0,0.0,22660.970703,NaN,0,1.0,...,2.0,5.0,5.0,0.247121,1,False,False,1,0,0
11166,1126,1971,8,Head,2860.0,0.0,29337.865234,NaN,1,NaN,...,2.0,16.0,12.0,0.247121,1,False,False,1,0,0

In [355]:
data = data.rename(columns={'hrace_1.0': 'White', 'hrace_2.0': 'Black', 'hrace_3.0': 'Native_American'})
data.head(n=3)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,wpersno,hyrsed,wyrsed,pce,ones,Hispanic,Other Races,White,Black,Native_American
11161,402,1971,1,Head,1523.0,0.0,62928.707031,NaN,0,1.0,...,2.0,12.0,12.0,0.247121,1,False,False,1,0,0
11164,461,1971,4,Head,2010.0,0.0,22660.970703,NaN,0,1.0,...,2.0,5.0,5.0,0.247121,1,False,False,1,0,0
11166,1126,1971,8,Head,2860.0,0.0,29337.865234,NaN,1,NaN,...,2.0,16.0,12.0,0.247121,1,False,False,1,0,0

In [356]:
data = data.rename(columns={'hyrsed': 'Educ'})
data.head(n=3)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,wpersno,Educ,wyrsed,pce,ones,Hispanic,Other Races,White,Black,Native_American
11161,402,1971,1,Head,1523.0,0.0,62928.707031,NaN,0,1.0,...,2.0,12.0,12.0,0.247121,1,False,False,1,0,0
11164,461,1971,4,Head,2010.0,0.0,22660.970703,NaN,0,1.0,...,2.0,5.0,5.0,0.247121,1,False,False,1,0,0
11166,1126,1971,8,Head,2860.0,0.0,29337.865234,NaN,1,NaN,...,2.0,16.0,12.0,0.247121,1,False,False,1,0,0

In [357]:
data = data.dropna(subset = covar )
data.head(n=3)
print(set(data.Educ))
print(set(data.Black))
print(set(data.Hispanic))
print(set(data['Other Races']))
print(set(data.age))

{1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0}
{0, 1}
{False}
{False}
{25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0}

In [358]:
data.head(n=3)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,wpersno,Educ,wyrsed,pce,ones,Hispanic,Other Races,White,Black,Native_American
11161,402,1971,1,Head,1523.0,0.0,62928.707031,NaN,0,1.0,...,2.0,12.0,12.0,0.247121,1,False,False,1,0,0
11164,461,1971,4,Head,2010.0,0.0,22660.970703,NaN,0,1.0,...,2.0,5.0,5.0,0.247121,1,False,False,1,0,0
11166,1126,1971,8,Head,2860.0,0.0,29337.865234,NaN,1,NaN,...,2.0,16.0,12.0,0.247121,1,False,False,1,0,0

In [359]:
data.wlabinc

11161              NaN
11164              NaN
11166              NaN
11173              NaN
11175     28326.214844
11192      4451.262207
11196     16101.429688
11198              NaN
11199      7688.543945
11202      7122.019531
11206              NaN
11209              NaN
11213     32372.816406
11214      2164.932129
11222     12309.763672
11223     13819.145508
11227              NaN
11228     14163.107422
11230     15988.125000
11231              NaN
11233     17683.650391
11234       360.147583
11237              NaN
11243      1011.650513
11244     36277.785156
11245              NaN
11246              NaN
11248              NaN
11249     44512.621094
11252              NaN
              ...
123721             NaN
123723             NaN
123725             NaN
123727             NaN
123729             NaN
123730             NaN
123731             NaN
123732    37715.214844
123734    32327.326172
123735             NaN
123741    38792.789062
123742    28017.015625
123743    16163.663086
123744             NaN
123745    53878.875000
123748    26939.437500
123753    10775.775391
123754    86206.203125
123755    26939.437500
123757    25861.861328
123758    25861.861328
123761    96981.976562
123765             NaN
123766             NaN
123767    51723.722656
123772    37715.214844
123775             NaN
123777             NaN
123784             NaN
123785             NaN
Name: wlabinc, Length: 57131, dtype: float32

In [360]:
data['lnwage'] = np.log(data.hlabinc)

In [361]:
data.head(n=2)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,Educ,wyrsed,pce,ones,Hispanic,Other Races,White,Black,Native_American,lnwage
11161,402,1971,1,Head,1523.0,0.0,62928.707031,NaN,0,1.0,...,12.0,12.0,0.247121,1,False,False,1,0,0,11.049758
11164,461,1971,4,Head,2010.0,0.0,22660.970703,NaN,0,1.0,...,5.0,5.0,0.247121,1,False,False,1,0,0,10.028399

In [362]:
y = np.matrix(data[['lnwage']])
print(y)

x = np.matrix(data[covar])
print(x)

[[ 11.04975796]
 [ 10.02839947]
 [ 10.28663445]
 ...,
 [ 10.4482069 ]
 [ 10.64603233]
 [ 11.42512226]]
[[12.0 False 0 False 51.0 1]
 [5.0 False 0 False 55.0 1]
 [16.0 False 0 False 25.0 1]
 ...,
 [12.0 False 0 False 51.0 1]
 [12.0 False 0 False 47.0 1]
 [13.0 False 0 False 49.0 1]]

In [363]:
a = np.matrix([[.5, .5, .5, .5, .5, .5]])
b = a.T
print(b)

[[ 0.5]
 [ 0.5]
 [ 0.5]
 [ 0.5]
 [ 0.5]
 [ 0.5]]

In [364]:
#We now create residuals

#error terms
e = y - x * b

#standard deviation
sigma = e.std()

AttributeError: 'float' object has no attribute 'sqrt'

In [271]:
#We now begin to craft the statistical objective function that will allow us to perform MLE.
#The first go at it merely being a test to determine the feasibility
    
    
MLE = -(1/2) * len(data[data.year == 1971]) * np.log(2 * np.pi) - len(data[data.year == 1971]) * np.log(1) - (y - x * b).T * (y - x * b)    
MLE

matrix([[-16377782.953445299]], dtype=object)

In [ ]:
#Seeing that we have tested such things, we now move on to the actual "function" that will receive the data as
#an argument and give us the MLE "score"

def MLE(int):

  '''
    This function will perform Maximum Likelihood Estimation and return the parameters and "score".
    
    Args:
        x: scalar, the amount of output
        params: tuple containing model parameters
        
    Returns:
        ac: scalar, the average cost of producing x units
    ''''
MLE = -(1/2) * len(data[data.year == 1971]) * np.log(2 * np.pi) - len(data[data.year == 1971]) * np.log(1) - (y - x * b).T * (y - x * b)

return MLE

In [191]:

for year in years:
    
    MLE_FX = -(1/2) * len(data[data.year == year]) * np.log(2 * np.pi) - len(data[data.year == year]) * np.log(1) - (y - x * b).T * (y - x * b)    
    
    MLE = op.minimize(MLE_FX, -1, method='BFGS', tol=1e-15, options={'maxiter': 5000})
    print('The maximum likelihood value is', ['MLE_FX'])
    print('The value of the coefficients is', ['b'])
    
return MLE

TypeError: 'matrix' object is not callable

In [225]:
test = y - x * b

In [226]:
np.std(test)

AttributeError: 'float' object has no attribute 'sqrt'

In [227]:
np.cov(x)

AttributeError: 'float' object has no attribute 'shape'